html, body {
    height: 100%;
    width: 100%;
}

.horizontal-container {
display: flex;
align-items: center;
}

#fruitPicker {
margin-left: 20px;
}

select,input {
margin-right: 10px;
}

.large-button {
    width: 100px; 
    height: 30px; 
    font-size: 16px; 
    margin-top: 20px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

#message {
    color: red;
}